<table style="color: red;">
  <tr>
    <td style="border: 6px solid green">First Name</td>
    <td style="border: 6px solid green">{{firstName}}</td>
  </tr>
  <tr>
    <td style="border: 6px solid green">Last Name</td>
    <td style="border: 6px solid green">{{lastName}}</td>
  </tr>
  <tr>
    <td style="border: 6px solid green">Gender</td>
    <td style="border: 6px solid green">{{gender}}</td>
  </tr>
  <tr>
    <td style="border: 6px solid green">Age</td>
    <td style="border: 6px solid green">{{age}}</td>
  </tr>
</table>